/* =========================
   Footer
========================= */

footer {
  margin-top: 40px;
  padding: 20px;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  footer {
    padding: 30px;
    font-size: 15px;
  }
}

